{
	"plugins": [
		'@semantic-release/commit-analyzer',
		'@semantic-release/release-notes-generator',
		["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md",
    }],
		['@semantic-release/exec', {
			"prepareCmd": "npx replace-in-file ${lastRelease.version} ${nextRelease.version} style.css,package.json,package-lock.json && zip -r ../robot-rock.zip . -x@.zip-exclude.lst"
		}],
		["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "style.css", "package.json", "package-lock.json"],
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
    }],
		['@semantic-release/github', {
			"assets": [
				{
					"path": "../robot-rock.zip",
					"name": "robot-rock-${nextRelease.version}.zip",
					"label": "robot-rock-${nextRelease.version}"}
			]
		}]
	]
}